<div class="row">
  <div class="col-3">
    <div class="card" style="width: 10rem;">
      <div class="card-body border-start border-5 border-primary rounded">
        <p class="h1">0</p>
        <h5 class="card-title">Todas</h5>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 10rem;">
      <div class="card-body border-start border-5 border-success rounded">
        <h1>0</h1>
        <h5 class="card-title">Programadas</h5>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 10rem;">
      <div class="card-body border-start border-5 border-warning rounded">
        <h1>0</h1>
        <h5 class="card-title">Importantes</h5>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 10rem;">
      <div class="card-body border-start border-5 border-danger rounded">
        <h1>0</h1>
        <h5 class="card-title">Completadas</h5>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <h2>Tareas para hoy</h2>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
</div>