<div class="container">
    <div class="row row-cols-4 g-2">
        @for (task of tasksList; track $index) {
            <div class="p-2">
                <div class="card p-0">
                    <div class="card-header">
                      {{ task.title }}
                    </div>
                    <div class="card-body">
                      <p>{{ task.description }}</p>
                    </div>
                    <div class="card-footer text-muted">
                      {{ task.category.name }} {{ task.date }}
                    </div>
                </div>
            </div>
        }
    </div>
</div>