<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Organizador</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [routerLink]="['home']" (click)="changeButtonsTrue()" class="nav-link active">Inicio</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['all']" (click)="changeButtonsTrue()" class="nav-link">Todos</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['scheduled']" (click)="changeButtonsTrue()" class="nav-link">Programado</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['important']" (click)="changeButtonsTrue()" class="nav-link">Importantes</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['completed']" (click)="changeButtonsTrue()" class="nav-link">Completados</a>
          </li>    
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container py-3">
    <router-outlet/>
  </div>
  @if (showButtons()) {
    <div class="position-fixed bottom-0 end-0 p-3">
      <div class="d-flex flex-column align-items-end">
        <a [routerLink]="['add']" (click)="changeButtonsFalse()" class="btn btn-success m-2">
          <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 12H20M12 4V20" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <button class="btn btn-danger m-2">
          <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  }
  
  
